<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
<div class="banner">
  <%= image_tag "banner_3.png", class: "banner-image" %>
  <div class="banner-text">
    <h1>Flare - Fire safety compliance made easy</h1>
    <p>Manage fire safety assessments with Flare's digital solution!</p>
    <%= link_to 'Sign up!', new_user_registration_path , class: 'btn-big' %>
    <!-- Button is redundant, and can confuse users. There's already one at the top
    <%= link_to 'Log in!', new_user_session_path , class: 'btn-login' %>
    -->
  </div>
</div>

  <div class="container">
    <h2 class="text-center">What you can do</h2>
    <br>
    <div class="cards">
      <div class="card">
        <%= image_tag"assessment.png", class: "icon"  %>
        <h4>Risk Assessments</h4>
        <p>Carry out risk assessments with our free app and pre-configured forms.</p>
      </div>

      <div class="card">
        <%= image_tag"checklist.png", class: "icon" %>
        <h4>Easy Documentation</h4>
        <p>Store and manage all your compliance documents in one place and make them easily accessible to your clients.</p>
      </div>

      <div class="card">
       <%= image_tag"upload.png", class: "icon"  %>
        <h4>Upload Evidence</h4>
        <p>Upload evidence yourself or let your clients upload evidence that supports their assessments.</p>
      </div>
    </div>
  </div>

<div class="container">
    <h2 class="text-center">Why choose Flare Fire Solutions</h2>
      <div>
        <ul>
          <li>Easy Set-Up: Flare comes With pre-configured and customized risk assessments</li>
          <li>Share assessments with your clients instantly - no paper needed!</li>
          <li>Let your clients upload evidence themselves</li>
        </ul>
      </div>
      <div class="text-center">
        <h2>More Questions?</h2>
        <br>
        <%= link_to 'Contact us', new_user_registration_path , class: 'button-secondary' %>
        <br><br>
        <h4>Flare is built for and by fire assessors - we know your needs!</h4>
      </div>
  </div>
