<%= form_with(model: @company,data: {insert_in_list_target: "form", action: "submit->insert-in-list#send"}, local: true) do |form| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="d-inline-flex justify-content-between ms-5">
    <div class="form-group textOnInput">
      <%= form.label :name %>
      <%= form.text_field :name, class: "free-text-input" %>
    </div>

    <div class="form-group textOnInput">
      <%= form.label :address %>
      <%= form.text_field :address, class: "free-text-input"  %>
    </div>

    <div class="form-group textOnInput">
      <%= form.label :telephone_number %>
      <%= form.text_field :telephone_number, class: "free-text-input" %>
    </div>
  </div>
  <div class="d-inline-flex justify-content-between ms-5">
    <div class="form-group textOnInput">
      <%= form.label :email_address %>
      <%= form.text_field :email_address, class: "free-text-input" %>
    </div>

    <div class="form-group textOnInput">
      <%= form.label :client_email_address %>
      <%= form.text_field :email, class: "free-text-input" %>
    </div>
  </div>
  <div class="actions mt-5">
    <%= form.submit class: "btn-big"%>
  </div>
<% end %>

<%# <% end %>

<%# <%= simple_form_for(company) do |f| %>
  <%# <%= f.input :name %>
  <%# <%= f.input :address %>
  <%# <%= f.input :telephone_number %>
  <%# <%= f.input :email_address %>
  <%# <%= f.input :client_id %>
  <%# <%= f.submit "Create", class: "ms-1 btn btn-dark" %>
<%# <% end %>
