      <tbody data-insert-in-list-target="list">
        <% num = 0 %>
        <% @reports.sort.each do |report| %>
          <tr>
            <th scope="row"><%= num += 1 %></th>
            <td><%= report.premises_name %></td>
            <td><%= report.street_address %></td>
            <td><%= report.telephone_number %></td>
            <td><%= report.date_report_completed %></td>
            <% if current_user.inspector? %>
            <td><%= link_to 'Edit', edit_company_report_path(@company, report), class: "btn"%></td>
            <% else %>
            <td></td>
            <% end %>
            <td><%= link_to 'View', company_report_path(@company, report), class: "btn"%></td>
          </tr>
        <% end %>
      </tbody>
