      <tbody data-insert-in-list-target="list">
        <% num = 0 %>
        <% @reports.sort.each do |report| %>
          <tr>
            <th scope="row"><%= num += 1 %></th>
            <td><%= report.premises_name %></td>
            <td><%= report.street_address %></td>
            <td><%= report.telephone_number %></td>
            <td><%= report.date_report_completed %></td>
            <% if current_user.inspector? %>
            <td><%= link_to 'Edit', edit_company_report_path(@company, report), class: "btn"%></td>
            <% else %>
            <td></td>
            <% end %>
            <td><%= link_to 'View', company_report_path(@company, report), class: "btn"%></td>
            <%# <td><%= link_to 'X', company_report_path(@company, report), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "delete-button" %>
            <td><%= link_to '<i class="fas fa-trash"></i>'.html_safe, company_report_path(@company, report), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "delete-button" %></td>
          </tr>
        <% end %>
      </tbody>
