
<div class="container mt-5">
  <h1><%= @company.name %></h1>

    <%= form_with(model: @company, local: true) do |form| %>
      <% if @company.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@company.errors.count, "error") %> prohibited this post from being saved:</h2>
          <ul>
          <% @company.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
        <div class="d-inline-flex justify-content-between ms-5 p-3 mt-5">
          <div class="form-group textOnInput">
            <%= form.label :name %>
            <%= form.text_field :name, class: "free-text-input" %>
          </div>
          <div class="form-group textOnInput">
            <%= form.label :email_address %>
            <%= form.text_field :email_address, class: "free-text-input"  %>
          </div>
          <div class="form-group textOnInput">
            <%= form.label :telephone_number %>
            <%= form.text_field :telephone_number, class: "free-text-input" %>
          </div>
        </div>
        <div class="p-3">
          <div class="form-group textOnInput">
            <%= form.label :address %>
            <%= form.text_field :address, class: "free-text-input-big" %>
          </div>
        </div>
        <%# <div class="actions"> %>
          <%# <%= form.submit class: "btn"%>
        <%# </div> %>
    <% end %>
  <%# <div class="d-inline-flex justify-content-between">
    <div class="p-3">
      <p>Company name</p>
      <p class="free-text-input"><%= @company.name %>
    <%# </div>
    <div class="p-3">
      <p>Email</p> %>
      <%# <p class="free-text-input"><%= @company.email_address %>
    <%# </div>
    <div class="p-3">
      <p>Telephone number</p> %>
      <%# <p class="free-text-input"><%= @company.telephone_number %>
    <%# </div>
  </div>

    <%# <p>Address</p> %>
    <%# <p class="free-text-input"><%= @company.address %>
  <%# </div> %>


  <%# <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Company Details</h5>
          <p class="card-text">
            <strong>Address:</strong> <%= @company.address %>
            <%# <strong>Email:</strong> <%= @company.email_address %>
            <%# <strong>Telephone:</strong> <%= @company.telephone_number %>
          <%# </p> %>
          <%# <% if current_user.inspector? %>
            <%# <%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-warning' %>
            <%# <%= link_to 'Delete', company_path(@company), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          <%# <% end %>
        <%# </div> %>
      <%# </div> %>
    <%# </div> %>
  <div class="map" data-controller="map"
    id="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    >
  </div>

  <div class="d-flex justify-content-between">
    <% if current_user.inspector? %>
        <%= link_to 'Edit Company', edit_company_path(@company), class: 'btn-big-dark' %>
        <%= link_to 'Delete', company_path(@company), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn-big-dark' %>
    <% end %>
  </div>
  </div>
  <div class="container mt-5">
  <h1 class="mb-3">Reports</h1>
  <div class="row">
    <table class="table table-striped mt-5">
      <thead>
        <tr>
          <th scope="col">*</th>
          <th scope="col">Premises name</th>
          <th scope="col">Premises address</th>
          <th scope="col">Tel</th>
          <th scope="col">Date Completed</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% num = 0 %>
        <% @company.reports.each do |report| %>
          <tr>
            <th scope="row"><%= num += 1 %></th>
            <td><%= report.premises_name %></td>
            <td><%= report.street_address %></td>
            <td><%= report.telephone_number %></td>
            <td><%= report.date_report_completed %></td>
            <% if current_user.inspector? %>
            <td><%= link_to 'Edit', edit_company_report_path(@company, report), class: "btn"%></td>
            <% else %>
            <td></td>
            <% end %>
            <td><%= link_to 'View', company_report_path(@company, report), class: "btn"%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-between mt-4">
    <div>
      <%= link_to 'Back to Companies', companies_path, class: 'btn-big-dark' %>
    </div>
    <div class="justify-content-end">
      <% if current_user.inspector? %>
        <%= link_to 'Create report', new_company_report_path(@company), class: 'btn-big-dark' %>
      <% end %>
    </div>
  </div>
</div>
