<div class="container mt-5">
  <h1><%= @company.name %></h1>
  <div class="d-inline-flex justify-content-between">
    <div class="p-3">
      <p>Company name</p>
      <p class="free-text-input"><%= @company.name %></p>
    </div>
    <div class="p-3">
      <p>Email</p>
      <p class="free-text-input"><%= @company.email_address %></p>
    </div>
    <div class="p-3">
      <p>Telephone number</p>
      <p class="free-text-input"><%= @company.telephone_number %></p>
    </div>
  </div>
  <div class="p-3">
    <p>Address</p>
    <p class="free-text-input"><%= @company.address %></p>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Company Details</h5>
          <p class="card-text">
            <strong>Address:</strong> <%= @company.address %><br>
            <strong>Email:</strong> <%= @company.email_address %><br>
            <strong>Telephone:</strong> <%= @company.telephone_number %>
          </p>
          <% if current_user.inspector? %>
            <%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-warning' %>
            <%= link_to 'Delete', company_path(@company), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
  <div class="container mt-5">
  <h1 class="mb-3">Reports</h1>
  <div class="row">
    <table class="table table-striped mt-5">
      <thead>
        <tr>
          <th scope="col">*</th>
          <th scope="col">Premises name</th>
          <th scope="col">Premises address</th>
          <th scope="col">Tel</th>
          <th scope="col">Date Completed</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% num = 0 %>
        <% @company.reports.each do |report| %>
          <tr>
            <th scope="row"><%= num += 1 %></th>
            <td><%= report.premises_name %></td>
            <td><%= report.street_address %></td>
            <td><%= report.telephone_number %></td>
            <td><%= report.date_report_completed %></td>
            <% if current_user.inspector? %>
            <td><%= link_to 'Edit', edit_company_report_path(@company, report), class: "btn"%></td>
            <% else %>
            <td></td>
            <% end %>
            <td><%= link_to 'View', company_report_path(@company, report), class: "btn"%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-between mt-4">
    <div>
      <%= link_to 'Back to Companies', companies_path, class: 'btn-big-dark' %>
    </div>
    <div class="justify-content-end">
      <% if current_user.inspector? %>
        <%= link_to 'Create report', "#", class: 'btn-big-dark' %>
      <% end %>
    </div>
  </div>
</div>
