<div class="container mt-5">
  <h1><%= @company.name %></h1>

    <%= form_with(model: @company, local: true) do |form| %>
      <% if @company.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@company.errors.count, "error") %> prohibited this post from being saved:</h2>
          <ul>
          <% @company.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
        <div class="d-inline-flex justify-content-between ms-5 p-3 mt-5">
          <div class="col-md-12">
            <div class="form-group textOnInput">
              <%= form.label :name, "Company Name" %>
              <%= form.text_field :name, class: "free-text-input-big", readonly: true %>
            </div>
            <div class="form-group textOnInput mt-3">
              <%= form.label :email_address %>
              <%= form.text_field :email_address, class: "free-text-input-big", readonly: true  %>
            </div>
            <div class="form-group textOnInput mt-3">
              <%= form.label :telephone_number %>
              <%= form.text_field :telephone_number, class: "free-text-input-big", readonly: true %>
            </div>
            <div class="form-group textOnInput mt-3">
              <%= form.label :address %>
              <%= form.text_field :address, class: "free-text-input-big", readonly: true %>
            </div>
          </div>
          <div class="map col-md-4" data-controller="map"
            id="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
            style="margin-left: 20px;"
            >
          </div>
        </div>
        <%# <div class="actions"> %>
          <%# <%= form.submit class: "btn"%>
        <%# </div> %>
    <% end %>
  <div class="d-flex justify-content-between">
    <% if current_user.inspector? %>
        <%= link_to 'Delete', company_path(@company), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn-big-dark' %>

        <%= link_to 'Edit Company', edit_company_path(@company), class: 'btn-big' %>
    <% end %>
  </div>
  </div>

  <div data-controller="insert-in-list">
   <div class="container mt-5" >
  <div class="row justify-content-between" style="margin-top: 120px;">
      <div class="col-lg-6">
        <h1 class="mb-3">Reports</h1>
      </div>
      <div class="col-lg-6 justify-content-end">
        <div class="row justify-content-end">
         <%= form_with url: company_path, method: :get, class: "d-flex", data: { insert_in_list_target: "form", action: "submit->insert-in-list#send" }, remote: true do %>
          <%= text_field_tag :query,
              params[:query],
              class: "form-control ml-2",
              style: "margin-left: auto; width: 400px; margin-right: 20px",
              placeholder: "Type a premise",
              data: {
                    insert_in_list_target: 'searchInput'
                  }
          %>
          <%= submit_tag "Search", name: "", class: "btn",  style: "margin-right: 40px" %>
          <% end %>
        </div>
      </div>
    </div>


  <div class="row">
    <table class="table table-striped mt-5">
      <thead>
        <tr>
          <th scope="col">*</th>
          <th scope="col">Premises name</th>
          <th scope="col">Premises address</th>
          <th scope="col">Tel</th>
          <th scope="col">Date Completed</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>

      <%= render 'list2', reports: @reports %>

<!--       <tbody>
        <% num = 0 %>
        <% @company.reports.each do |report| %>
          <tr>
            <th scope="row"><%= num += 1 %></th>
            <td><%= report.premises_name %></td>
            <td><%= report.street_address %></td>
            <td><%= report.telephone_number %></td>
            <td><%= report.date_report_completed %></td>
            <% if current_user.inspector? %>
            <td><%= link_to 'Edit', edit_company_report_path(@company, report), class: "btn"%></td>
            <% else %>
            <td></td>
            <% end %>
            <td><%= link_to 'View', company_report_path(@company, report), class: "btn"%></td>
            <td> <%= link_to company_report_path(@company, report), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "delete-button" do %>
              <i class="fas fa-trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody> -->

    </table>
  </div>

  <div class="d-flex justify-content-between mt-4">
    <div>
      <%= link_to 'Back to Companies', companies_path, class: 'btn-big-dark' %>
    </div>
    <div class="justify-content-end">
      <% if current_user.inspector? %>
        <%= link_to 'Create report', new_company_report_path(@company), class: 'btn-big-dark' %>
      <% end %>
    </div>
  </div>
</div>
</div>
