
<div class="container mt-5">
  <h1>Action Plan for <%= @report.premises_name %></h1>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Fault</th>
            <th scope="col">Recommendation</th>
            <th scope="col">Priority</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <% num = 0 %>
          <% @report_questions.sort.each do |report_q| %>
            <tr>
              <th scope="row"><%= num += 1 %></th>
              <td><%= report_q.fault %></td>
              <td><%= report_q.recommendation %></td>
              <% if report_q.priority == "HIGH" %>
                <td class="bg-danger">HIGH</td>
              <% elsif report_q.priority == "MEDIUM" %>
                <td class="bg-warning">MEDIUM</td>
              <% elsif report_q.priority == "LOW" %>
                <td class="bg-info">LOW</td>
              <% else %>
                <td></td>
              <% end %>
              <td><%= report_q.date %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div>
      <%= link_to 'Back', company_report_path(@company, @report), class: 'btn-big-dark mt-5' %>
  </div>
</div>
