
<div class="container mt-5">
  <h1>Action Plan for <%= @report.premises_name %></h1>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Fault</th>
            <th scope="col">Recommendation</th>
            <th scope="col">Priority</th>
            <th scope="col">Date</th>
            <th scope="col">Completed?</th>
          </tr>
        </thead>
        <tbody>
          <% num = 0 %>
          <% @report_questions.sort.each do |report_q| %>
            <tr>
              <th scope="row"><%= num += 1 %></th>
              <td class="p-3"><%= report_q.fault %></td>
              <td class="p-3"><%= report_q.recommendation %></td>
              <% if report_q.priority == "HIGH" %>
                <td class="bg-danger">HIGH</td>
              <% elsif report_q.priority == "MEDIUM" %>
                <td class="bg-warning">MEDIUM</td>
              <% elsif report_q.priority == "LOW" %>
                <td class="bg-info">LOW</td>
              <% else %>
                <td></td>
              <% end %>
              <%= form_with model: [@company, @report, report_q], method: :patch, id: "myform" do |f| %>
              <%# <%= simple_form_for [@company, @report, report_q], id: "myform" do |f| %>
                <td>
                  <%= f.date_field :date, data: { controller: "flatpickr", flatpickr_date_format: "Y-m-d", flatpickr_min_date: Time.zone.now }, readonly: current_user.client? ? true : false %>
                </td>
                <td>
                  <div class="form-check form-switch  ms-4">
                    <%= f.check_box :answer, class: "form-check-input",  type: "checkbox", id: "flexSwitchCheckDefault", readonly: current_user.client? ? true : false %>
                  </div>
                </td>
                <td class="p-3">
                <% if current_user.inspector? %>
                  <%= f.submit "Update Action", class: "btn", form: "myform" %>
                <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div>
      <%= link_to 'Back', company_report_path(@company, @report), class: 'btn-big-dark mt-5' %>
  </div>
</div>
