<h1>This is the edit page for <%= @report.premises_name %></h1>
<div class="container mt-5">
  <h1>Edit Report</h1>

  <%= simple_form_for [@company, @report], html: {data: {form_target: "form"}}, class: "free-text-input" do |f| %>
  <%= f.input :premises_name, class: "free-text-input" %>
  <%= f.input :street_address %>
  <%= f.input :city %>
  <%= f.input :postcode %>
  <%= f.input :telephone_number %>
  <%= f.input :date_report_completed %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit "Edit", class: "btn-big" %>
  <% end %>

  <div class="mt-5">
    <%= link_to 'Back', company_path(@company), class: "btn-big-dark"%>
  </div>
</div>
