<div class="container mt-5">
  <div>
    <div class="m-3">
      <% @names = [] %>
      <% @fault_array = [] %>
      <% @recommendation_array = [] %>
      <% @photos_array = [] %>
      <% @report_questions.sort.each do |report_q| %>
        <% @names << report_q.question.question_name %>
        <% @photos_array << report_q.photos %>
        <% @faults = report_q.question.faults %>
        <% @fault_names = [" "] %>
        <% @fault_recommendations = [" "] %>
        <% @faults.each do |fault| %>
          <% @fault_names << fault.fault_detail %>
          <% @fault_recommendations << fault.recommendation %>
        <% end %>
        <% @fault_array << @fault_names %>
        <% @recommendation_array << @fault_recommendations %>
      <% end %>
      <% num = -1 %>
      <%= form_with model: [@company, @report] do |p| %>
        <h2 class="mt-4 mb-4">Fire Alarm</h2>
        <%= p.fields_for :report_questions, @report_questions.sort do |f| %>
          <% num += 1 %>
          <div data-controller="question-card">
            <div class="d-flex justify-content-between m-2 pb-3 pt-3 mt-5">
              <div>
                <h5 class="card-title"><%= @names[num] %></h5>
              </div>
              <div class="field d-inline-flex">
                <div class="form-check form-switch">
                  <%= f.label :answer, class: "form-check-label",  for: "flexSwitchCheckDefault" %>
                  <%= f.check_box :answer, class: "form-check-input",  type: "checkbox", id: "flexSwitchCheckDefault", data: { action: "change->question-card#hideContent" }, readonly: current_user.client? ? true : false %>
                </div>
              </div>
            </div>
            <div class="d-flex mt-3", data-question-card-target="contents">
              <div class="form-group textOnInput">
                <%= f.label :fault %>
                <% if current_user.client? %>
                  <%= f.text_area :fault, cols: 60, rows: 3, class: "free-text-input", readonly: true %>
                <% else %>
                  <%= f.select :fault, @fault_array[num] %>
                <% end %>
              </div>
              <div class="form-group textOnInput">
                <%= f.label :recommendation %>
                <% if current_user.client? %>
                  <%= f.text_area :recommendation, cols: 60, rows: 3, class: "free-text-input", readonly: true %>
                <% else %>
                  <%= f.select :recommendation, @recommendation_array[num], class: "" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="d-flex mt-4">
              <div class="form-group textOnInput">
                <%= f.label :priority %>
                <% if current_user.client? %>
                  <%= f.text_area :priority, cols: 10, rows: 1, class: "free-text-input", readonly: true %>
                <% else %>
                  <%= f.select :priority, [" ", "HIGH", "MEDIUM", "LOW"], class: "" %>
                <% end %>
              </div>
              <div class="form-group textOnInput">
                <%= f.label :date %>
                <%= f.date_field :date, class: "free-text-input", data: { controller: "flatpickr", flatpickr_date_format: "Y-m-d", flatpickr_min_date: Time.zone.now }, readonly: current_user.client? ? true : false %>
              </div>
              <div class="d-inline-flex">
              <div class="form-group textOnInput">
                <%= f.label :photos %>
                <%= f.file_field :photos, multiple: true, class: "free-text-input bg-white btn", readonly: current_user.client? ? true : false %>
              </div>
            </div>
          </div>
          <br>
          <div class="mt-2 d-inline-flex">
            <% @photos_array[num].each do |photo| %>
              <% if photo %>
                <div class="me-5">
                  <%= cl_image_tag photo.key, width: 200, height: 200, crop: :fill %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <div data-controller="submit-all-forms">
          <div class="d-flex justify-content-between mt-5">
            <div>
              <%= link_to 'Back to Report', company_report_path(@company, @report), class: 'btn-big-dark' %>
            </div>
            <div class="justify-content-end">
              <% if current_user.inspector? %>
                <%= p.submit class: "btn-big"%>
              <% else %>
                <%= link_to 'Action plan', action_plan_path(@company, @report), class: 'btn-big' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
