<div class="container mt-5">

<h1>Fire safety compliance and risk assessment</h1>
<div class="container mt-5">

<h1>New Assessment</h1>
<div class="container mt-5">

 <%= simple_form_for :report do |f| %>
  <%= f.input :date_report_completed, label: 'Date of Assessment' %>
  <%= f.input :premises_name %>
  <%= f.input :street_address %>
  <%= f.input :city %>
  <%= f.input :postcode %>
  <%= f.input :telephone_number %>
  <%= f.input :date_report_completed, label: 'Date of Assessment' %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit "SUBMIT", class: "btn-big" %>
  <% end %>

  <div class="mt-5">
    <%= link_to 'Back', @company, class: "btn-big-dark"%>
  </div>
</div>
