
<div class="container mt-5">
  <h1>Assessment for <%= @report.premises_name %></h1>

    <%= form_with(model: [@company, @report], data: { insert_in_list_target: "form", action: "submit->insert-in-list#send" }, local: true) do |form| %>
      <% if @report.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@report.errors.count, "error") %> prohibited this post from being saved:</h2>
          <ul>
          <% @report.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
        <div class="d-inline-flex justify-content-between ms-5 p-3 mt-5">
          <div class="col-md-12">

            <div class="form-group textOnInput mt-3">
              <%= form.label :date_report_completed, "Date of Assessment" %>
              <% if @report.date_report_completed.present? %>
                <%= form.text_field :date_report_completed, class: "free-text-input-big", readonly: true %>
              <% else %>
                <p class="free-text-input">01/01/2000</p>
              <% end %>
            </div>

            <div class="form-group textOnInput mt-3">
              <%= form.label :inspector, "Assessor" %>
              <%= form.text_field :inspector, value: "#{@report.company.inspector.first_name} " "#{@report.company.inspector.last_name}", class: "free-text-input-big", readonly: true %>
            </div>

            <div class="form-group textOnInput mt-3">
              <%= form.label :address %>
              <%= form.text_field :address, value: "#{@report.street_address}, #{@report.city}, #{@report.postcode}", class: "free-text-input-big", readonly: true %>
            </div>
          </div>
          <div class="map col-md-4" data-controller="map"
            id="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
            style="margin-left: 20px;"
            >
          </div>
        </div>

        <div class="d-inline-flex justify-content-between ms-5 p-3 mt-5">
          <div class="col-md-12">
            <h2>Jump to Report Category</h2>
            <br>
                  <%= link_to 'Action plan', action_plan_path(@company, @report), class: 'button-5' %>
                  <%= link_to 'Fire Alarm', fire_alarm_path(@company, @report), class: 'button-5'%>
                  <%= link_to 'Fire Training', fire_training_path(@company, @report), class: 'button-5' %>
                  <%= link_to 'Fire Extinguishers', fire_extinguishers_path(@company, @report), class: 'button-5' %>
          </div>
        </div>

        <div class="d-inline-flex justify-content-between ms-5 p-3 mt-5">
          <div class="col-md-12">
            <h2>Responsible Person</h2>

              <div class="form-group textOnInput mt-3">
                <%= form.label  :name, "Full Name" %>
                <%= form.text_field :name, value: "#{@report.company.client.first_name} " "#{@report.company.client.last_name}", class: "free-text-input-big", readonly: true %>
              </div>

              <div class="form-group textOnInput mt-3">
                <%= form.label :telephone_number,  "Phone Number" %>
                <%= form.text_field :inspector, value: "#{@report.company.client.telephone_number}", class: "free-text-input-big", readonly: true %>
              </div>

              <div class="form-group textOnInput mt-3">
                <%= form.label :email_address %>
                <%= form.text_field :email_address, value: "#{@report.company.client.email}", class: "free-text-input-big", readonly: true  %>
            </div>

            <% if @report.photos.any? %>
              <br>
              <h2>Photos</h2>
              <div class="d-inline-flex mt-1">
                <% @report.photos.each do |photo| %>
                  <div class="col-md-12 me-5">
                    <%= cl_image_tag photo.key, width: 200, height: 200, crop: :fill %>
                  </div>
                <% end %>
              </div>
            <% end %>

  <% end %>
  </div>
</div>

<div class="d-inline-flex justify-content-between ms-5 p-3 mt-5">
<div class="col-md-12">

  <h2 class="mb-4">Construction Details</h2>

    <div>
      <% @names = [] %>
      <% @fault_array = [] %>
      <% @recommendation_array = [] %>
      <% @photos_array = [] %>
      <% @report_questions.sort.each do |report_q| %>
        <% @names << report_q.question.question_name %>
        <% @photos_array << report_q.photos %>
        <% @faults = report_q.question.faults %>
        <% @fault_names = [" "] %>
        <% @fault_recommendations = [" "] %>
        <% @faults.each do |fault| %>
          <% @fault_names << fault.fault_detail %>
          <% @fault_recommendations << fault.recommendation %>
        <% end %>
        <% @fault_array << @fault_names %>
        <% @recommendation_array << @fault_recommendations %>
      <% end %>
      <% num = -1 %>
      <%= form_with model: [@company, @report], id: "myform" do |p| %>
        <div class="form-group textOnInput mt-">
            <%= p.label :construction_details %>
            <%= p.text_area :construction_details, cols: 115, rows: 6, class: "free-text-input" %>
        </div>
        <div class="d-inline-flex">
          <div class="form-group textOnInput">
              <%= p.label :number_of_floors %>
              <%= p.text_field :number_of_floors, class: "free-text-input" %>
          </div>
          <div class="form-group textOnInput">
              <%= p.label :floor_area %>
              <%= p.text_field :floor_area, class: "free-text-input" %>
          </div>
          <div class="form-group textOnInput">
            <%= p.label :photos, "Photos" %>
            <%= p.file_field :photos, multiple: true, class: "free-text-input bg-white btn" %>
          </div>
        </div>
          <h2>Report</h2>
          <%= p.fields_for :report_questions, @report.report_questions.sort do |f| %>
            <% num += 1 %>
            <div data-controller="question-card">
              <div class="d-flex justify-content-between m-2 pb-3 pt-3 mt-5">
                <div>
                  <h5 class="card-title"><%= @names[num] %></h5>
                </div>
                <div class="field d-inline-flex">
                  <div class="form-check form-switch">
                    <%# <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" data-action="change->question-card#hideContent"> %>
                    <%# <label class="form-check-label" for="flexSwitchCheckDefault">dud</label> %>
                    <%= f.label :answer, class: "form-check-label",  for: "flexSwitchCheckDefault" %>
                    <%= f.check_box :answer, class: "form-check-input",  type: "checkbox", id: "flexSwitchCheckDefault", data: { action: "change->question-card#hideContent" }%>
                  </div>
                </div>
              </div>
              <div class="d-flex mt-3", data-question-card-target="contents">
                  <div class="form-group textOnInput">
                    <%= f.label :fault %>
                    <%= f.select :fault, @fault_array[num], class: "" %>
                  </div>
                  <div class="form-group textOnInput">
                    <%= f.label :recommendation %>
                    <%= f.select :recommendation, @recommendation_array[num], class: "" %>
                  </div>
              </div>
            </div>
            <div class="d-flex mt-4">
              <div class="form-group textOnInput">
                <%= f.label :priority %>
                <%= f.select :priority, [" ", "HIGH", "MEDIUM", "LOW"], class: "" %>
              </div>
              <div class="form-group textOnInput">
                <%= f.label :date %>
                <%= f.date_field :date, class: "free-text-input", data: { controller: "flatpickr", flatpickr_date_format: "Y-m-d", flatpickr_min_date: Time.zone.now } %>
              </div>
              <div class="d-inline-flex">
                <div class="form-group textOnInput">
                  <%= f.label :photos %>
                  <%= f.file_field :photos, multiple: true, class: "free-text-input bg-white btn" %>
                </div>
              </div>
            </div>
              <br>
              <div class="mt-2 d-inline-flex">
                <% @photos_array[num].each do |photo| %>
                  <% if photo %>
                    <div class="me-5">
                      <%= cl_image_tag photo.key, width: 200, height: 200, crop: :fill %>
                    </div>
                  <% end %>
                <% end %>
              </div>
          <% end %>
        </div>

        <div>
          <div class="d-flex justify-content-between mt-5">
            <div>
              <%= link_to 'Back to Company', company_path(@report.company), class: 'btn-big-dark' %>
            </div>
            <div class="justify-content-end">
              <% if current_user.inspector? %>
                <%= p.submit class: "btn-big", form: "myform"%>
              <% else %>
                <%= link_to 'Action plan', action_plan_path(@company, @report), class: 'btn-big' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
