<div class="container mt-5">
  <h1>Assessment for <%= @report.premises_name %></h1>
  <div class="d-inline-flex mt-3">
    <div class="p-3">
      <p>Date of assessment</p>
      <p class="free-text-input">
      <% if  @report.date_report_completed? %>
      <%= @report.date_report_completed %>
      <% else %>
      01/01/2000
      <% end %></p>
    </div>
    <div class="p-3">
      <p>Name of Assessor</p>
      <p class="free-text-input"><%= @report.company.inspector.first_name %> <%= @report.company.inspector.last_name %></p>
    </div>
  </div>
  <h2>Address</h2>
  <div class="d-inline-flex">
    <div class="p-3">
      <p>Street address</p>
      <p class="free-text-input"><%= @report.street_address %></p>
    </div>
    <div class="p-3">
      <p>City</p>
      <p class="free-text-input"><%= @report.city %></p>
    </div>
    <div class="p-3">
      <p>Postcode</p>
      <p class="free-text-input"><%= @report.postcode %></p>
    </div>
  </div>
  <% if @report.photos.any? %>
    <h2>Photos</h2>
    <div class="d-inline-flex mt-1">
      <% @report.photos.each do |photo| %>
        <div class="m-4">
          <%= cl_image_tag photo.key, width: 200, height: 200, crop: :fill %>
        </div>
      <% end %>
    </div>
  <% end %>
  <h2 class="mt-4">Construction details</h2>
  <div class="m-3">
    <p class="free-text-input">Some details about construction</p>
  </div>
   <div class="d-inline-flex">
    <div class="p-3">
      <p>Number of floors</p>
      <p class="free-text-input">1</p>
    </div>
    <div class="p-3">
      <p>Floor area</p>
      <p class="free-text-input">2000m2</p>
    </div>
    <div class="p-3">
      <p>Floor Plan</p>
      <p class="free-text-input">attach file 📎</p>
    </div>
  </div>
  <h2>Responsible Person</h2>
  <div class="d-inline-flex">
    <div class="p-3">
      <p>Full name</p>
      <p class="free-text-input"><%= @report.company.client.first_name %> <%= @report.company.client.last_name %></p>
    </div>
    <div class="p-3">
      <p>Phone number</p>
      <p class="free-text-input"><%= @report.company.client.telephone_number %></p>
    </div>
    <div class="p-3">
      <p>Email</p>
      <p class="free-text-input"><%= @report.company.client.email %></p>
    </div>
  </div>
  <div>
    <% @report_questions.each do |report_q| %>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title"><%= report_q.question.question_name %></h5>
          <%# this accesses the Questions made to get the name from the question_id but is ONLY going to used as a label %>
          <div class="d-flex">
            <div>
              <p>answer</p>
              <p class="free-text-input"><%= report_q.answer %></p>
            </div>
            <div>
              <p>fault</p>
              <p class="free-text-input"><%= report_q.fault %></p>
            </div>
            <div>
              <p>recommendation</p>
              <p class="free-text-input"><%= report_q.recommendation %></p>
            </div>
            <div>
              <p>priority</p>
              <p class="free-text-input"><%= report_q.priority%></p>
            </div>
            <div>
              <p>date</p>
              <p class="free-text-input"><%= report_q.date%></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%# <div class="d-inline-flex"> %>
    <%# <% @report_questions.each do |report_q| %> %>
        <%# <%= form_with(model: report_q.question, local: true) do |form| %> %>
        <%# <div class="form-group textOnInput"> %>
          <%# <%= form.label :question_name %> %>
          <%# <%= form.text_field :question_name, class: "free-text-input" %> %>
        <%# </div> %>
        <%# <% end %> %>
    <%# <% end %> %>
  <%# </div> %>
  <div class="d-flex justify-content-between mt-5">
    <div>
      <%= link_to 'Back to Company', company_path(@report.company), class: 'btn-big-dark' %>
    </div>
    <div class="justify-content-end">
      <% if current_user.inspector? %>
        <%= link_to 'Submit', "#", class: 'btn-big-dark' %>
      <% end %>
    </div>
  </div>
</div>
