<!DOCTYPE html>
<html>
  <head>
    <title>FRS1 - Flare Risk Software for Fire Safety Inspections</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' rel='stylesheet'>
    <%= favicon_link_tag "flare-logo.png", rel: "icon", type: "image/png" %>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>

  </head>

  <body class="pb-5 mb-5">
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>


    <%= yield %>


  </body>
  <div class ="mt-5 pt-5">
  <%= render "shared/footer" %>
  </div>

</html>
